@use "../varibles" as *;
@use "../mixin" as *;
@use "../media" as *;

.cart {
  align-self: flex-start;
  padding-top: 100px;
  display: none;

  &_open {
    display: flex;
  }

  @media (max-width: 1360px) {
    padding: 0;
    position: fixed;
    z-index: 101;
    top: 0;
    // left: 0;
    right: 14px;
    overflow-y: auto;

    @include mobile {
      left: 0;
      right: 0;
    }
  }

  // .cart__container

  &__container {
    display: flex;
    flex-direction: column;

    border-radius: 32px;
    padding: 24px 16px;
    max-width: 310px;
    min-height: 778px;
    height: 100%;
    background-color: $white;

    @include mobile {
      min-height: auto;
      height: auto;
      max-width: 100%;
      width: 100%;
    }
  }

  // .cart__header

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    margin-bottom: 8px;
  }

  // .cart__title

  &__title {
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 1.3;
  }

  // .cart__close

  &__close {
  }

  // .cart__date

  &__date {
    padding-left: 20px;
    margin-bottom: 16px;
    background-image: url("./img/card/delivery.svg");
    background-repeat: no-repeat;
    background-position: left bottom;

    font-size: 0.875rem;

    @include mobile {
      font-size: 0.75rem;
    }
  }

  // .cart__list

  &__list {
    margin-bottom: 24px;
    flex-grow: 1;
  }

  // .cart__item

  &__item {
    padding-block: 16px;

    display: grid;
    grid-template-columns: 54px 1fr min-content;
    gap: 8px 12px;
    grid-template-areas:
      "image title title"
      "image counter price";

    &:not(:last-child) {
      border-bottom: 1px solid rgba($dark, 0.04);
    }
  }

  // .cart__image

  &__image {
    grid-area: image;
    border-radius: 12px;
    width: 54px;
    height: 54px;
    object-fit: cover;
  }

  // .cart__item-title

  &__item-title {
    grid-area: title;
    font-weight: 400;
    font-size: 14px;
  }

  // .cart__counter

  &__counter {
    grid-area: counter;

    display: flex;
    column-gap: 4px;
    align-items: center;
    justify-content: flex-start;
  }

  // .cart__counter-btn

  &__counter-btn {
    border-radius: 6px;
    width: 29px;
    height: 29px;
    background: $bg;

    font-size: 14px;
  }

  // .cart__counter-input

  &__counter-input {
    width: 22px;
    padding: 0;
    border: 0;
    background-color: transparent;
    text-align: center;
    outline: 1px solid transparent;
    font-size: 14px;

    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      display: none;
    }

    &:focus-visible {
      outline: 1px solid $light-orange;
      border-radius: 4px;
    }
  }

  // .cart__price

  &__price {
    grid-area: price;
    align-self: center;
  }

  // .cart__footer

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
  }

  // .cart__order-btn

  &__order-btn {
    border-radius: 32px;
    padding: 9px 16px 8px 16px;
    background-color: $light-orange;

    line-height: 1.3;

    color: $white;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;

    span {
      position: absolute;
      width: 25%;
      height: 100%;
      background-color: $brown;
      transform: translateY(150%);
      border-radius: 50%;
      left: calc((var(--n) - 1) * 25%);
      transition: 0.5s;
      transition-delay: calc((var(--n) - 1) * 0.1s);
      z-index: -1;
    }

    &:hover {
      color: $green;
    }

    &:hover span {
      transform: translateY(0) scale(2);
    }

    span:nth-child(1) {
      --n: 1;
    }

    span:nth-child(2) {
      --n: 2;
    }

    span:nth-child(3) {
      --n: 3;
    }

    span:nth-child(4) {
      --n: 4;
    }
  }
}
