@use "../varibles" as *;
@use "../mixin" as *;
@use "../media" as *;

.goods {
  padding-block: 60px;

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    column-gap: 20px;
  }

  // .goods__box
  
  &__box {
    max-width: 970px;
    flex-grow: 1;
  }

  // .goods__title

  &__title {
    font-family: $second-family;
    font-weight: 400;
    font-size: 3.125rem;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    color: $green;
    margin-bottom: 40px;

    @include tablet {
      font-size: 2rem;
      margin-bottom: 24px;
    }
  }

  // .goods__list

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 310px);
    justify-content: center;
    gap: 24px 20px;
    width: 100%;
    margin: 0 auto;

    @include mobile {
      grid-template-columns: repeat(2, minmax(140px, 1fr));
      column-gap: 12px;
    }
  }

  // .goods__item

  &__item {
  }

  // .goods__card

  &__card {
    transition: 1s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__no-product {
    text-align: center;
    font-size: 1.5rem;
    color: $green;
    grid-column: 1 / -1;
  }
}