@use "../varibles" as *;
@use "../media" as *;
@use "../mixin" as *;

.hero {
  padding-block: 60px;

  @include tablet {
    padding-block: 40px;
  }

  // .hero__head-group

  &__title {
    margin-bottom: 24px;
    font-family: $second-family;

    &-text {
      @include responsive-font-size(80, 120, 1024, 1440);

      line-height: 1.2;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      color: $green;

      @include laptop {
        @include responsive-font-size(58, 80, 768, 1024);
      }

      @include tablet {
        @include responsive-font-size(40, 58, 320, 768);
      }

      span {
        @include responsive-font-size(32, 40, 1024, 1440);

        display: block;
        font-style: italic;
        line-height: 1.3;
        font-weight: 400;
        text-align: right;
        color: $dark;

        @include laptop {
          @include responsive-font-size(24, 32, 768, 1024);
        }

        @include tablet {
          @include responsive-font-size(18, 24, 320, 768);
        }
      }
    }
  }

  // .hero__group-image

  &__group-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: calc(24 / 1300 * 100%);
  }

  // .hero__image

  &__image {
    object-fit: cover;
    width: calc(284 / 1300 * 100%);
    aspect-ratio: 284 / 352;

    // .hero__image_border-left

    &_border-left {
      border-radius: 400px 400px 400px 0;
    }

    // .hero__image_border-center

    &_border-center {
      aspect-ratio: 680 / 588;
      width: calc(680 / 1300 * 100%);
    }

    // .hero__image_border-right

    &_border-right {
      border-radius: 400px 0 400px 400px;
    }
  }
}
