@use "../varibles" as *;

.hero {
  padding-block: 60px;
  // .hero__head-group

  &__title {
    margin-bottom: 24px;
    font-family: $second-family;

    &-text {
      font-size: clamp(5rem, -1.154rem + 9.62vw, 7.5rem);
      line-height: 1.2;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      color: $green;

      span {
        display: block;
        font-style: italic;
        font-size: clamp(2rem, 0.769rem + 1.92vw, 2.5rem);
        line-height: 1.3;
        font-weight: 400;
        text-align: right;
        color: $dark;
      }
    }
  }

  // .hero__group-image

  &__group-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 26px;
  }

  // .hero__image

  &__image {
    object-fit: contain;
    width: calc(284 / 1300 * 100%);
    // .hero__image_border-left

    &_border-left {
      border-radius: 400px 400px 400px 0;
    }

    // .hero__image_border-center

    &_border-center {
      width: calc(680 / 1300 * 100%);
    }

    // .hero__image_border-right

    &_border-right {
      border-radius: 400px 0 400px 400px;
    }
  }
}
